<!-- 
@if(getAuthServiceRole() == "teacher") {
    <button pButton label="Add Course" icon="pi pi-plus" class="icon-button p-button-success add-course-btn" (click)="add()"><i class="pi pi-plus"></i></button>
}

<div class="card course-table-container">
    <p-table [value]="courses" [tableStyle]="{'min-width': '60rem'}" [paginator]="true" [rows]="5">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="title">
                    Course <p-sortIcon field="title"></p-sortIcon>
                </th>
                <th>Description</th>
                @if(getAuthServiceRole() == "student") {
                    <th>Un/enroll</th>
                }
                @if(getAuthServiceRole() == "teacher") {
                    <th>Edit</th>
                    <th>Delete</th>
                }
                <th>More Details</th>
            </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-course let-rowIndex="rowIndex">
            <tr [ngClass]="{ 'even-row': rowIndex % 2 === 0, 'odd-row': rowIndex % 2 !== 0 }">
                <td>{{ course.title }}</td>
                <td>{{ course.description }}</td>

                @if(getAuthServiceRole() == "student") {
                    <td>
                        @if(getAuthServiceRole() == "student" &&!(isEnrolled(course.id) | async)){
                            <button pButton  label="Enroll" icon="pi pi-user-plus" class="icon-button p-button-rounded p-button-primary" (click)="enroll(course.id)"><i class="pi pi-user-plus"></i></button>
 
                        }
                        @else {
                            <button pButton label="Unenroll" icon="pi pi-user-minus" class="icon-button p-button-rounded p-button-warning" (click)="unenroll(course.id)"><i class="pi pi-user-minus"></i></button>

                        }
                    </td>
                }

                @if(getAuthServiceRole() == "teacher") {
                    <td>
                        <button pButton icon="pi pi-pencil" class="icon-button p-button-rounded p-button-info" (click)="update(course)"><i class="pi pi-pencil"></i></button>
                    </td>
                    <td>
                        <button pButton icon="pi pi-trash" class="icon-button p-button-rounded p-button-danger" (click)="deleteCourse(course.id)"><i class="pi pi-trash"></i></button>
                    </td>
                }

                <td>
                    <button pButton icon="pi pi-eye" class="icon-button p-button-rounded p-button-secondary" (click)="showCourse(course.id)"><i class="pi pi-eye"></i></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <a routerLink="/" class="course-card">
        <mat-icon class="arrow-icon">arrow_back</mat-icon>
      </a>
</div> -->
@if(getAuthServiceRole() == "admin") {
    <button pButton label="Add User" icon="pi pi-plus" class="icon-button p-button-success add-user-btn" (click)="add()"></button>
}

<div class="card user-table-container">
    <p-table [value]="users" [tableStyle]="{'min-width': '60rem'}" [paginator]="true" [rows]="5">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">
                    Name <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th>Email</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>More Details</th>
            </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
            <tr [ngClass]="{ 'even-row': rowIndex % 2 === 0, 'odd-row': rowIndex % 2 !== 0 }">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <button pButton icon="pi pi-pencil" class="icon-button p-button-rounded p-button-info" (click)="updateUser(user)"><i class="pi pi-pencil"></i></button>
                </td>
                <td>
                    <button pButton icon="pi pi-trash" class="icon-button p-button-rounded p-button-danger" (click)="deleteUser(user.id)"><i class="pi pi-trash"></i></button>
                </td>
                <td>
                    <button pButton icon="pi pi-eye" class="icon-button p-button-rounded p-button-secondary" (click)="showUserDetails(user.id)"><i class="pi pi-eye"></i></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <a routerLink="/" class="user-card">
        <mat-icon class="arrow-icon">arrow_back</mat-icon>
    </a>
</div>

