<mat-toolbar color="primary" class="app-bar">
    <span class="site-icon">
      <mat-icon>school</mat-icon>
      <span class="site-name">GKS Managment</span>
    </span>
    <span class="spacer"></span>
    <mat-nav-list class="nav-links">
      <a mat-button routerLink="/users"> Users List</a>
      <a mat-button routerLink="">About</a>
    </mat-nav-list>
    <span class="spacer"></span>
    <div class="user-section">
      <mat-icon>logout</mat-icon>
      <button mat-button (click)="logout()">Logout</button>
    </div>
  </mat-toolbar>
  
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>