<div class="form-wrapper">
    <form [formGroup]="logInForm" (submit)="onSubmit()">
        <mat-card class="sign-in-card">
            <mat-card-title>Sign In</mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email">
                    @if(this.logInForm.get('email')?.invalid && logInForm.get('email')?.touched){
                        <mat-error >
                      Email is required
                    </mat-error>
                }
                  </mat-form-field>
          
                  <!-- שדה סיסמה -->
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                    @if(this.logInForm.get('password')?.invalid && logInForm.get('password')?.touched){
     
                    <mat-error >
                      Password is required
                    </mat-error>
                }
                  </mat-form-field>
          
                  <!-- כפתור שליחה -->
                  <button mat-raised-button 
                  class="submit-button" 
                  type="submit" 
                          [disabled]="logInForm.invalid">
                          Submit
    
                  </button>
          
                </mat-card-content>
              </mat-card>
    </form>
    <a routerLink="/register" class="register-link">Don't have an account? Sign up</a>
    </div>